
<div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
    <div class="list-group">
        <%for(var index=0;index<categorys.length;index++){%>
          <a href="#" class="list-group-item"><%=categorys[index].title%></a>
        <%}%>
    </div>
</div>