<script src="<%= ROOT %>/js/jquery-1.11.0.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="<%= ROOT %>/js/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
    function showError(msg) {
        $("#tips").html('<div class="alert alert-warning">error:' + msg + '</div>');
    }
</script>